@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";
}


    <h1>Eliza Greer</h1>
    <img src="img/eliza.jpg" width="200" />
    <p>
        I want to learn more about coding, and I would also like to gain new skills. I want to gain new skills so I can be a<br />
        better asset to future employers. I also just like to learn, so I like learning how to do stuff better. I already really like ASP.NET because it makes everything <br />
        so much easier. I don't have to write a bunch of routes.
    </p>

    <br />
    <h2>This are my Top #3 jobs </h2>
    <ul>
        <li>System Analyst/System Design</li>
        <li>Development</li>
        <li>BI Analytics</li>

    </ul>


